.ms {
  &,
  .ms-slider,
  .ms-slider-element-container {
    position:relative;
  }

  .ms-slider {
    &,
    .ms-slider-element-container,
    .ms-slider-element-wrapper,
    .ms-slider-element {
      width:100%;
      height:100%;
    }

    overflow:hidden;

    .ms-slider-element-container {
      @zindex-b:4;
      @zindex-s:2;

      &.ms-carousel {
        &:not(.ms-carousel-reverse) {
          &.ms-carousel-animation:extend(.ms-animation) {
            .animation(animation-name, ms-carousel);
          }

          .ms-carousel-next {
            left:100%;
          }
        }

        &.ms-carousel-reverse {
          &.ms-carousel-animation:extend(.ms-animation) {
            .animation(animation-name, ms-carousel-reverse);
          }

          .ms-carousel-next {
            left:-100%;
          }
        }
      }

      &.ms-flow {
        &:not(.ms-flow-reverse) .ms-flow-next {
          &,
          .ms-slider-element {
            right:0;
          }
        }

        &.ms-flow-reverse .ms-flow-next {
          left:0;
        }

        .ms-flow-prev {
          z-index:@zindex-s;
        }

        .ms-flow-next {
          z-index:@zindex-b;
          width:0;

          &.ms-flow-animation:extend(.ms-animation) {
            .animation(animation-name, ms-flow);
          }
        }
      }

      &.ms-fade {
        .ms-fade-prev {
          z-index:@zindex-s;
        }

        .ms-fade-next {
          z-index:@zindex-b;
          opacity:0;

          &.ms-fade-animation:extend(.ms-animation) {
            .animation(animation-name, ms-fade);
          }
        }
      }

      .ms-slider-element-wrapper {
        position:absolute;
        overflow:hidden;

        &:not(.ms-active) {
          visibility:hidden;
          pointer-events:none;
        }

        .ms-slider-element {
          position:absolute;
          background-size:cover;
          background-position:center center;
          background-repeat:no-repeat;
        }
      }
    }
  }

  & > ul {
    position:absolute;
    left:15px;
    right:15px;
    bottom:10px;
    z-index:6;
    display:-webkit-flex;
    display:-ms-flex;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-justify-content:center;
    -ms-justify-content:center;
    justify-content:center;
    -webkit-align-items:center;
    -ms-align-items:center;
    align-items:center;
    list-style:none;

    li {
      -webkit-flex:0 0 auto;
      -ms-flex:0 0 auto;
      flex:0 0 auto;
      width:10px;
      height:10px;
      margin:10px 5px;
      border-radius:100%;
      background:rgba(235,235,235,.4);
      -webkit-transition:175ms 0s linear;
      -ms-transition:175ms 0s linear;
      transition:175ms 0s linear;
      -webkit-transition-property:background-color, box-shadow;
      -ms-transition-property:background-color, box-shadow;
      transition-property:background-color, box-shadow;

      &.ms-active {
          background-color:#EBEBEB;
          box-shadow:0px 0px 5px 0px rgba(236,236,236,.4);           
      }
  }

  }

  .ms-arrow {
    position:absolute;
    width:50px;
    height:50px;
    top:50%;
    z-index:6;
    margin-top:-25px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    &.ms-prev-arrow {
      left:20px;
    }

    &.ms-next-arrow {
      right:20px;
    }

    svg {
      fill: rgba(220, 220, 220, 0.6);
    }

    &:hover svg {
      fill: #EEE;
    }
  }

  .ms-autoplay-container {
    position:absolute;
    right:27px;
    top:25px;
    z-index:6;
    width:35px;
    height:35px;

    & > svg {
      position:absolute;
      width:35px;
      height:35px;
      fill:rgba(255,255,255,.7);
      -webkit-transition:fill 200ms 0s linear, opacity 100ms 0s linear;
      -ms-transition:fill 200ms 0s linear, opacity 100ms 0s linear;
      transition:fill 200ms 0s linear, opacity 100ms 0s linear;
    }

    &:hover > svg {
      fill:#FFF;
    }

    &.ms-active .ms-play,
    &:not(.ms-active) .ms-stop {
      opacity:0;
      pointer-events:none;
    }
  }
}

.animation(@k, @v) {
  -webkit-@{k}:@v;
  -ms-@{k}:@v;
  @{k}:@v;
}

.ms-animation {
  .animation(animation-iteration-count, 1);
  .animation(animation-fill-mode, both);
}

@-webkit-keyframes ms-carousel {
  from {
    -webkit-transform:translateX(0%);
    -ms-transform:translateX(0%);
    transform:translateX(0%);
  }

  to {
    -webkit-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    transform:translateX(-100%);
  }
}

@keyframes ms-carousel {
  from {
    -webkit-transform:translateX(0%);
    -ms-transform:translateX(0%);
    transform:translateX(0%);
  }

  to {
    -webkit-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    transform:translateX(-100%);
  }
}

@-webkit-keyframes ms-carousel-reverse {
  from {
    -webkit-transform:translateX(0%);
    -ms-transform:translateX(0%);
    transform:translateX(0%);
  }

  to {
    -webkit-transform:translateX(100%);
    -ms-transform:translateX(100%);
    transform:translateX(100%);
  }
}

@keyframes ms-carousel-reverse {
  from {
    -webkit-transform:translateX(0%);
    -ms-transform:translateX(0%);
    transform:translateX(0%);
  }

  to {
    -webkit-transform:translateX(100%);
    -ms-transform:translateX(100%);
    transform:translateX(100%);
  }
}

@-webkit-keyframes ms-flow {
  from {
    width:0%;
  }

  to {
    width:100%;
  }
}

@keyframes ms-flow {
  from {
    width:0%;
  }

  to {
    width:100%;
  }
}

@-webkit-keyframes ms-fade {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

@keyframes ms-fade {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}